/* this is the font family section */

/* Merriweather font */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Inter font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* this is the sheard style section */
body {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

/* this is the header section */
.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('/resources/Banner\ Image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1100px;
  position: relative;
  border-radius: 16px;

}

.header-continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;

}

.header-title {
  color: #FFF;
  text-align: center;
  font-family: 'Merriweather';
  font-size: 32px;
  font-weight: 400;

}

.header-discription {
  color: #FFF;
  text-align: center;
  font-family: 'Merriweather';
  font-size: 82px;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
}

/* main section style */
.main {
  margin-left: 140px;
  margin-right: 140px;
}

/* catagories section style */

.catagorie-continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.catagorie-heading {
  color: #F00;
  text-align: center;
  font-family: 'Inter';
  font-size: 88px;
  font-weight: 700;


}

.catagorie-discription {
  color: #F00;
  text-align: center;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;


}

.catagorie-title {
  color: #070211;
  text-align: center;
  font-family: 'Inter';
  font-size: 48px;
  font-weight: 700;

}
/* welcome section style */

.welcome{
  margin-top: 100px;
background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('/resources/Vectorrr.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 600px;
border-radius: 16px;


}
.welcome-continer{
  display: flex;
  justify-content: space-between;
  padding: 126px;

}
.welcome-title{
color: #FFF;
font-family: 'Merriweather';
font-size: 64px;
font-weight: 900;
width: 642px;
 
}
.welcome-discription{
color: rgba(255, 255, 255, 0.80);
font-family: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 400;

width: 697px;
}
.welcome-button{
color: #FFF;
text-align: center;
font-family: 'Inter';
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
width: 130px;
height: 34px;
background-color: black;
border-radius: 30px;
}

